.section-coronavirus {
  text-align: center;
  background-color: #E68C0E;
  background-size: cover;
  color: #FFFFFF;
}

.coronavirus {
  max-width: 700px;
  margin: 0px auto;
  padding: 50px 15px;
}

#coronavirus p {
  font-style: italic;
}

